@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif, 'Kdam Thmor Pro';
    height: 100vh;
    overflow: auto;
    background: rgb(237, 10, 10);
    background: linear-gradient(81deg, rgb(10, 195, 237, 1) 18%, rgba(2, 0, 36, 1) 51%, rgba(255, 0, 194, 1) 90%);
    background-size: 400% 400%;

    -webkit-animation: animation 8s ease infinite;
    -moz-animation: animation 8s ease infinite;
    animation: animation 8s ease infinite;
}

@-webkit-keyframes animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

table,
th,
td {
    border-bottom: 5px ridge #a30af1;
    border-collapse: collapse;
    border-radius: 5px;
}

.linha-nome {
    border-right: 5px ridge #a30af1;
}

h1 {
    font-family: 'Kdam Thmor Pro';
    text-shadow: 4px 3px 0px black;
    color: white;
    text-align: center;
}

.container-cara {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 55%;
    background-color: #ffffff00;
    margin-top: 50px;
    border-radius: 25px;
    box-shadow: 1px 1px 20px 0px black;
}

.btn-voltar-home {
    width: 10%;
    height: 53px;
    border: 3px solid white;
    border-radius: 100%;
    background-image: url(./favpng_home-icon-house-icon.png);
    background-color: rgba(0, 0, 0, 0);
    background-size: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 3%;
    background-position-x: 0px;
    background-position-y: -3px;
}

.btn-voltar-home:hover {
    box-shadow: 0px 0px 10px 3px black;
    height: 55px;
    width: 10.3%;
    background-position-x: 0px;
    background-position-y: -2px;
    background-size: 52px;
    transition: 0.2s;

}



.nomeCampos {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;

}


.label-txt {
    color: white;
    font-family: 'Kdam Thmor Pro';
    text-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
}

.campo-de-txt {
    width: 100%;
    height: 30px;
    font-size: 17px;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    color: white;
    font-family: 'Kdam Thmor Pro';
}

.campo-de-txt:focus {
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.2s;
}


.campo-de-txt::placeholder {
    color: white;
    font-family: 'Kdam Thmor Pro';
}

.cap-labe-1,
.cap-labe-2,
.cap-labe-3 {
    margin-bottom: 33px;
    width: 75%;
    text-align: center;
    font-size: 18px;
}

.gender {
    height: 38px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    width: 80%;
    font-family: 'Kdam Thmor Pro';
    outline: none;
}

.gender:focus {
    color: black;
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.2s;
}

.telefonemakk {
    margin-top: 30px;
    font-family: 'Kdam Thmor Pro';
    text-shadow: 1px 1px 1px black;
    color: white;
    margin-bottom: 5px;
}

.campo-cell::placeholder {
    color: white;
    font-family: 'Kdam Thmor Pro';
}

.campo-cell {
    height: 38px;
    font-size: 18px;
    background: transparent;
    border-radius: 8px;
    color: white;
    font-family: 'Kdam Thmor Pro';
    outline: none;
    border: 2px solid black;
}

.campo-cell:focus {
    color: black;
    box-shadow: 0px 0px 10px 0px black;
    transition: 0.2s;
}

.presença {
    color: white;
    font-family: 'Kdam Thmor Pro';
    text-shadow: 1px 1px 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;

}

.case-btn-cata {
    display: flex;
}

.btn-add-catalogo {
    transition: 0.2s ease-in-out;
    height: 45px;
    background-color: transparent;
    margin: 0 auto;
    color: white;
    font-family: 'Kdam Thmor Pro';
    border-radius: 8px;
    border: 2px solid black;
    outline: none;
    font-size: 20px;
    width: auto;
    margin-top: 15px;
}

.btn-add-catalogo:hover {
    background-color: blueviolet;
    transition: 0.2s ease-in-out;
    font-size: 22px;
    padding: 5px;
    height: 47px;
    box-shadow: 0px 0px 20px 0px black;
}

.modal-content {
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Kdam Thmor Pro';
    text-shadow: 1px 1px 1px black;
}

.exit-lista {
    transition: 0.2s ease-in-out;
    height: 34px;
    background-color: transparent;
    margin: 0 auto;
    color: white;
    font-family: 'Kdam Thmor Pro';
    border-radius: 8px;
    border: 2px solid black;
    outline: none;
    font-size: 16px;
    width: auto;
    margin-top: 15px;
}

.exit-lista:hover {
    background-color: red;
    transition: 0.2s ease-in-out;
    font-size: 17px;
    padding: 5px;
    height: 38px;
    box-shadow: 0px 0px 20px 0px black;
}


/*-------------------- index ---------------------*/

.modal-content {
    padding-bottom: 40px;
}

.tabela {
    width: 95%;
    margin: 0 auto;
    font-family: 'Kdam Thmor Pro';
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cabecalho {
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.gr-result {
    text-align: center;
    border-bottom: 5px solid black;
}



table {
    width: 70%;
    color: white;

    border-radius: 8px;
    padding: 1% 0% 1% 0%;
    box-shadow: 0px 0px 20px 5px black;
}

.cs-btn-add {
    width: 100%;
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.cs-btn-add button {
    height: 53px;
    background-color: transparent;
    margin: 0 auto;
    color: white;
    font-family: 'Kdam Thmor Pro';
    border-radius: 8px;
    border: 2px solid black;
    outline: none;
    font-size: 20px;
    width: auto;
    margin-top: 15px;
    transition: 0.2s ease-in-out;
}

.cs-btn-add button:hover {
    background-color: rebeccapurple;
    font-size: 21px;
    padding: 10px;
    height: 60px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 20px 0px black;
}

#resultados {
    font-size: 0.89rem;
}

@media only screen and (max-width: 720px) {
    .container-cara {
        width: auto;
    }

    .btn-voltar-home {
        width: 15%;
    }
}
